<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% endblock head %}

</head>
<body>

    

    {% block content %}

    {% endblock content %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script type="text/javascript">
                // Exibe uma mensagem de alerta com todas as mensagens flash
                alert("{% for message in messages %}{{ message }}\n{% endfor %}");
            </script>
        {% endif %}
    {% endwith %}
    
    

</body>

</html>