<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock head %}
</head>

<body>
    
    {% include "header.html" %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <div class="flash-message-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    
    {% include "footer.html" %}

    <script type="text/javascript">
        // Remove as mensagens flash após alguns segundos
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(flash => {
            setTimeout(() => {
                flash.style.display = 'none';
            }, 5000); // A mensagem some após 5 segundos
        });
    </script>
</body>
</html>