{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>{{ diary.dia_title }}</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <form method="post" class="diary-editor-form">
            <div class="diary-header">
                <input type="text" name="title" value="{{ diary.dia_title }}">
                
                <div class="share-option">
                    <label for="share">
                        Tornar público
                        <input type="checkbox" id="share" name="share" {% if diary.dia_share %} checked {% endif %}>
                    </label>
                </div>
            </div>
            
            <textarea name="content" placeholder="Escreva seus pensamentos aqui...">{{ diary.dia_content }}</textarea>
            
            <div class="diary-editor-actions">
                <a href="{{url_for('index')}}" class="btn btn-secondary"> Voltar </a>
                <button type="submit" class="btn">Salvar Alterações</button>
            </div>
        </form>
    </div>

{% endblock content %}