{% extends "base.html" %}

{% block head %}
    <title>{{ diary.dia_title }}</title>
{% endblock head %}

{% block content %}
    

    <form method="post">
        <input type="text" name="title" value="{{ diary.dia_title }}">
        
        <label for="share">Diario público
            <input type="checkbox" name="share" {% if diary.dia_share %} checked {% endif %}>
        </label>

        <textarea name="content" placeholder="Escreva seu diário aqui">{{ diary.dia_content }}</textarea>
        <button type="submit">Salvar</button>
    </form>

    <form action="{{url_for('index')}}"> <button type="submit"> Sair </button> </form>
    
{% endblock content %}