{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title> Editar Perfil </title>
{% endblock head %}

{% block content %}
<div class="form-wrapper">
    <h1>Editar Perfil</h1>
    
    <form method="post">
        <input type="hidden" name="action" value="change_username">
        <div class="form-group">
            <label for="username">Mudar nome de usuário</label>
            <input type="text" id="username" name="username" value="{{ current_user.username }}">
        </div>
        <button type="submit">Salvar Nome</button>
    </form>
</div>
{% endblock content %}