{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    
{% endblock head %}


{% block content %}

    <footer>

        <div class="anser_diary">
            <h2>Anser Diary</h2>
            <p>The best web diary for you. Write your thoughts and do your schedule or even share your diaries with your most trusted ones!</p>
        </div>

        <div class="explore">
            <h2>Explore</h2>
            <a href="{{url_for('index')}}">Home Page</a>
        </div>

        <div class="about">
            <h2>About</h2>
            <a href="#">About Anser Diary</a>
            <a href="#">Who is the creator of this website</a>
        </div>

    </footer>

{% endblock content %}