<header class="main-header">
    <div class="container header-container">

        <a href="{{ url_for('index') }}" class="logo-link">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo"> 
        </a>

        <nav class="main-nav">
            
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('profile', user_id=current_user.user_id) }}">Perfil</a>
                <a href="{{ url_for('logout') }}">Logout</a>

            {% else %}
                <a href="{{ url_for('login') }}">Entrar</a>
                <a href="{{ url_for('register') }}">Registrar</a>

            {% endif %}
            
        </nav>

    </div>
</header>