{% extends "base.html" %}

{% block head %}

    <title> Home Page </title>
    
{% endblock head %}

{% block content %}

    {% if logged_in %}
        
        {% include "logged_in.html" %}
        <p>ta logado</p>

    {% else %}
    
        {% include "header.html" %}
                
            <p>ta deslogado</p>
            <nav>
                <a href="/">Home Page</a>
                <a href="{{ url_for('login') }}">Sign in</a>
                <a href="{{ url_for('register') }}">Register</a>

            </nav>
        
    {% endif %}

    {% include "footer.html" %}

{% endblock content %}