{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title> Login </title>
{% endblock head %}

{% block content %}
<div class="form-wrapper">
    <form method="post">
        <h1>Entrar na sua conta</h1>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="fulano@exemplo.com" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" placeholder="Sua senha" name="password" required>
        </div>
    
        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock content %}